<div class="col">
    <div class="row m-3">
      <div class="col-md-8 p-0">
        <h1>Commandes {{origin}}</h1>
      </div>
      <div class="col-md-4 p-0 text-right">
        <app-boutton-action
        (clickEvent)="nouvelleCommande()"
        ></app-boutton-action>
      </div>
    </div>
    <div class="col">
      <div class="accordion" id="mvtStkDetails" *ngFor="let cmd of listeCommandes">
        <div class="card">
          <div class="card-body" id="headingOne">
            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <app-detail-cmd-clt-frs 
              [commande]="cmd"
              [origin]="origin"></app-detail-cmd-clt-frs>
            </button>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#mvtStkDetails" style="max-height: 300px;
          overflow-y: scroll">
            <!-- <div class="card-body" *ngIf="commande">
              <app-detail-cmd [idCommande]="commande"></app-detail-cmd>
            </div> -->
            <div class="card-footer">
                <div class="row">
                  <div class="col-md-6 text-left">
                    <h5> lignes de commande</h5>
                  </div>
                  <div class="col-md-6 text-right">
                    <h5>Total commande: </h5>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- +++++++++++++ -->
        
      </div>
    </div>
    <div class="row mb-3">
      <div class=" col-md-12 text-center">
        <app-pagination></app-pagination>
      </div>
    </div>
  
  </div>
  