<div class="main-container">
    <div class="row min-height-600 no-flex-wrap">
        <div class="card col-md-2 mr-2">
            <div class="col pl-0 pr-0">
                <div class="card mt-3 mb-2 border-none">
                    <h4>Gestion de stock V2.0</h4>
                </div>
                <div>
                    <app-menu></app-menu>
                </div>
            </div>
        </div>
        <div class="card col-md-10 pl-0 pr-0 background-grey border-none">
            <div class="col pl-0 pr-0 d-flex flex-column justify-content-between">
                <div class="card p-3 min-height-80 mb-2">
                    <app-header></app-header>
                </div>
                <div class="card mb-2" style="min-height: 95%;">
                    <router-outlet></router-outlet>
                </div>
                <div class="card min-height-80">
                    <app-footer></app-footer>
                </div>
            </div>
        </div>
    </div>
</div>


